* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body header .navbar {
  background-color: #000000;
  height: 56px; }
  body header .navbar .container-fluid {
    gap: 43%; }
    body header .navbar .container-fluid .navbar-brand img {
      height: 40px; }
    body header .navbar .container-fluid .collapse .navbar-nav {
      gap: 38px;
      display: flex;
      align-items: center; }
      body header .navbar .container-fluid .collapse .navbar-nav #nick-cuenta {
        display: flex;
        flex-direction: row-reverse; }
        body header .navbar .container-fluid .collapse .navbar-nav #nick-cuenta img {
          background-color: #ffffff;
          height: 30px;
          border-radius: 25px;
          margin-top: 8%; }
      body header .navbar .container-fluid .collapse .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 20px; }
        body header .navbar .container-fluid .collapse .navbar-nav .nav-link .btn {
          margin-top: 4px; }
          body header .navbar .container-fluid .collapse .navbar-nav .nav-link .btn .carrito {
            height: 28px; }
      body header .navbar .container-fluid .collapse .navbar-nav .dropdown-menu {
        background-color: #000000; }
        body header .navbar .container-fluid .collapse .navbar-nav .dropdown-menu .dropdown-divider {
          background-color: #ffffff; }
        body header .navbar .container-fluid .collapse .navbar-nav .dropdown-menu .dropdown-item {
          color: #ffffff; }
        body header .navbar .container-fluid .collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
          background-color: #ffffff;
          color: #000000; }

body header .banner img {
  width: 100%; }

body footer {
  background-color: #000000;
  margin-top: 50px; }
  body footer .redes {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px; }
  body footer .ig {
    height: 50px;
    width: 50px;
    margin-left: 5px; }
  body footer .ig:hover {
    border: solid rgba(0, 0, 0, 0) 2px; }
  body footer .whats {
    width: 50px;
    height: 50px;
    margin-left: 24px; }
  body footer .whats:hover {
    border: solid rgba(0, 0, 0, 0) 2px; }
  body footer .contactanos {
    color: #ffffff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 32px; }
  body footer .adress {
    display: flex;
    justify-content: center; }
    body footer .adress h3 {
      color: #ffffff;
      font-size: 20px;
      margin-bottom: 18px; }
  body footer .mail {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 80px; }
    body footer .mail h3 {
      font-size: 20px; }
  body footer .medios-d-p {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px; }
    body footer .medios-d-p h3 {
      font-size: 20px;
      margin-left: 8px; }
    body footer .medios-d-p img {
      margin-left: 40px;
      width: 634px; }
  body footer .creador {
    margin: 0px;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: center; }

body main .lengueta {
  height: 34px;
  width: 24%;
  background-color: #000000;
  margin-top: 2%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px; }
  body main .lengueta h2 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 38px; }

body main .cont-tira {
  margin-left: 2%; }
  body main .cont-tira .tira1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; }
    body main .cont-tira .tira1 .producto .cont-img img {
      width: 100%; }
    body main .cont-tira .tira1 .producto .parte-baja .nombre-produ {
      margin: 0%; }
    body main .cont-tira .tira1 .producto .parte-baja .precio {
      margin: 0%; }
    body main .cont-tira .tira1 .producto .parte-baja div {
      display: flex;
      justify-content: end;
      margin-right: 10px; }
      body main .cont-tira .tira1 .producto .parte-baja div .boton-ver {
        height: 38px;
        width: 126px;
        border-radius: 20px;
        border-color: #000000;
        background-color: #000000;
        color: #ffffff;
        font-size: 23px; }
      body main .cont-tira .tira1 .producto .parte-baja div .boton-ver:hover {
        border-radius: 20px;
        border-color: #000000;
        background-color: #ffffff;
        color: #000000; }
  body main .cont-tira .tira2 {
    display: flex;
    gap: 20px;
    margin-top: 9%; }
    body main .cont-tira .tira2 .producto .parte-baja .nombre-produ {
      margin: 0%; }
    body main .cont-tira .tira2 .producto .parte-baja .precio {
      margin: 0%; }
    body main .cont-tira .tira2 .producto .parte-baja div {
      display: flex;
      justify-content: end;
      margin-right: 10px; }
      body main .cont-tira .tira2 .producto .parte-baja div .boton-ver {
        height: 38px;
        width: 126px;
        border-radius: 20px;
        border-color: #000000;
        background-color: #000000;
        color: #ffffff;
        font-size: 23px; }

body main .banner-medio {
  margin-top: 7%; }
  body main .banner-medio img {
    width: 100%; }

body #main-preCompra {
  margin-top: 2%;
  margin-bottom: 8%; }
  body #main-preCompra .pre-compra {
    display: grid;
    grid-template-columns: 70%, 30%; }
    body #main-preCompra .pre-compra .pre-izq {
      grid-column: 1/1;
      margin-left: 4%;
      margin-top: 5%; }
      body #main-preCompra .pre-compra .pre-izq h1 {
        color: #000000;
        font-size: 30px; }
      body #main-preCompra .pre-compra .pre-izq h2 {
        color: #000000;
        margin-bottom: 16px;
        font-size: 26px; }
      body #main-preCompra .pre-compra .pre-izq .contenedor-info {
        border: solid #141414 1px;
        width: 80%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
      body #main-preCompra .pre-compra .pre-izq .imagen-pre {
        margin-bottom: 28px; }
        body #main-preCompra .pre-compra .pre-izq .imagen-pre img {
          width: 80%; }
    body #main-preCompra .pre-compra .pre-der {
      grid-column: 2/2;
      margin-right: 68px;
      margin-top: 18%;
      border: solid #141414 1px;
      border-radius: 10px;
      padding: 40px;
      height: 668px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
      body #main-preCompra .pre-compra .pre-der .limite {
        width: 300px; }
      body #main-preCompra .pre-compra .pre-der .titulito {
        font-size: 39px;
        color: #000000; }
      body #main-preCompra .pre-compra .pre-der p {
        margin: 3px;
        font-size: 20px; }
      body #main-preCompra .pre-compra .pre-der a {
        margin-top: 20px;
        font-size: 19px; }
      body #main-preCompra .pre-compra .pre-der .devolucion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 70px; }
        body #main-preCompra .pre-compra .pre-der .devolucion div {
          display: flex;
          align-items: center;
          gap: 10px; }
          body #main-preCompra .pre-compra .pre-der .devolucion div h3 {
            font-size: 20px;
            color: #29ef09; }
          body #main-preCompra .pre-compra .pre-der .devolucion div img {
            height: 28px;
            margin-bottom: 7px; }
      body #main-preCompra .pre-compra .pre-der h4 {
        font-size: 16px;
        margin-bottom: 20px; }
      body #main-preCompra .pre-compra .pre-der form .seleccionar {
        border: solid #141414 1px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 15px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); }
        body #main-preCompra .pre-compra .pre-der form .seleccionar select {
          border: none;
          font-size: 16px;
          width: 35%; }
        body #main-preCompra .pre-compra .pre-der form .seleccionar select:hover {
          border: none; }
        body #main-preCompra .pre-compra .pre-der form .seleccionar p {
          font-size: 13px; }
      body #main-preCompra .pre-compra .pre-der .boton-enviar-carro {
        display: flex;
        justify-content: center;
        margin: 15px;
        margin-top: 30px; }
        body #main-preCompra .pre-compra .pre-der .boton-enviar-carro input {
          height: 40px;
          width: 100%;
          background-color: #ffffff;
          border-radius: 12px;
          color: #000000;
          font-weight: bold;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); }
      body #main-preCompra .pre-compra .pre-der .boton-comprar-ahora {
        display: flex;
        justify-content: center;
        margin: 15px; }
      body #main-preCompra .pre-compra .pre-der .comprar-ya {
        width: 100%; }
        body #main-preCompra .pre-compra .pre-der .comprar-ya input {
          height: 40px;
          width: 100%;
          background-color: #000000;
          border-radius: 12px;
          font-weight: bold;
          color: #ffffff;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); }
    body #main-preCompra .pre-compra .abajo-d {
      display: flex;
      flex-direction: column;
      margin-top: 60px; }
      body #main-preCompra .pre-compra .abajo-d h2 {
        font-size: 24px;
        color: #000000;
        margin: 0%; }
      body #main-preCompra .pre-compra .abajo-d a {
        margin-top: 10px;
        font-size: 19px; }

body main .img-carrito-muestra {
  width: 32px; }

body main .carro-vacio {
  margin-top: 6%;
  margin-left: 2%;
  margin-bottom: 4%; }
  body main .carro-vacio .carro-vacio-h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: sans-serif; }
  body main .carro-vacio .carro-vacio-h2 {
    font-size: 20px;
    margin-bottom: 14px;
    font-family: sans-serif; }
  body main .carro-vacio .opciones-pago-carro {
    font-size: 20px;
    margin-bottom: 28px;
    font-family: sans-serif; }
  body main .carro-vacio .boton-carro-vacio {
    height: 68px;
    width: 20%;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 16px;
    margin-bottom: 24px; }
  body main .carro-vacio .boton-carro-vacio:hover {
    color: #000000;
    background-color: #ffffff; }
  body main .carro-vacio .tarjetas {
    width: 48%; }

body main .pagar {
  height: 32px;
  width: 128px;
  border-radius: 20px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 19px; }

body main .h1-pregs {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 46px; }

body main .todas-pregs {
  width: 90%;
  margin-left: 5%; }
  body main .todas-pregs .div-pregs {
    margin-bottom: 7%; }
  body main .todas-pregs .h2-pregs {
    font-size: 30px; }
  body main .todas-pregs .p-pregs {
    font-size: 19px; }

body .fin-medio {
  display: flex;
  justify-content: center;
  margin-top: 18%;
  font-size: 28px;
  font-family: arial; }

body .mi-sesion {
  margin-top: 5%;
  margin-bottom: 4%; }
  body .mi-sesion .mi-cuenta {
    display: flex;
    justify-content: center; }
    body .mi-sesion .mi-cuenta .login {
      width: 40%;
      margin-top: 5%;
      margin-bottom: 6%; }
      body .mi-sesion .mi-cuenta .login .boton-login {
        height: 36px;
        width: 100%;
        border-radius: 16px;
        border-color: #000000;
        background-color: #000000;
        color: #ffffff;
        font-size: 23px; }
      body .mi-sesion .mi-cuenta .login .form-control {
        border: solid #272727 1px; }
      body .mi-sesion .mi-cuenta .login .form-check-input {
        border: solid #272727 1px; }
      body .mi-sesion .mi-cuenta .login .form-text {
        padding-left: 68%; }
      body .mi-sesion .mi-cuenta .login .form-textt {
        margin-top: 8px; }

body main .row {
  padding: 140px;
  padding-top: 30px; }

body main .form-control {
  border: solid #272727 1px; }

body main .crear {
  height: 38px;
  width: 100%;
  border-radius: 16px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 23px; }

body main {
  margin-top: 5%;
  margin-bottom: 8%; }
  body main .perfil-completo {
    display: flex;
    gap: 15%; }
    body main .perfil-completo .card-header {
      background-color: #000000;
      color: #ffffff; }
    body main .perfil-completo .card-img {
      max-width: 540px;
      margin-top: 3%;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      margin-left: 3%;
      border-radius: 10px;
      height: 100%; }
      body main .perfil-completo .card-img .col-md-8 {
        padding: 10px;
        display: flex;
        align-items: center; }
      body main .perfil-completo .card-img .row {
        padding: 28px; }
      body main .perfil-completo .card-img .card-body {
        margin-left: 20px; }
    body main .perfil-completo .perfil {
      height: 100%; }
      body main .perfil-completo .perfil .card {
        width: 30rem;
        margin-right: 10%;
        margin-top: 9%;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }
        body main .perfil-completo .perfil .card .list-group {
          display: flex;
          align-items: center; }
  body main .div-cerrar-sesion {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%; }
    body main .div-cerrar-sesion .btn {
      margin-right: 2%;
      margin-left: 1%; }
