body{
    header{
        .navbar{
            background-color: black;
            height: 56px;
            .container-fluid{
                gap: 43%;
                .navbar-brand{
                    img{
                        height: 40px;
                    }
                }
                .collapse{
                    .navbar-nav{
                        gap: 38px;
                        display: flex;
                        align-items: center;
                        #nick-cuenta{
                            display: flex;
                            flex-direction: row-reverse;
                            img{
                                background-color: white;
                                height: 30px;
                                border-radius: 25px;
                                margin-top: 8%;
                            }
                        }
                        .nav-link{
                            color: white; 
                            font-size: 20px;
                            .btn{
                                margin-top: 4px;
                                .carrito{
                                    height: 28px;
                                }
                            }
                        }
                        .dropdown-menu{
                            background-color: black;
                            .dropdown-divider{
                                border-color: white;
                            }
                            .dropdown-item{
                                color: white;
                            }
                            .dropdown-item:hover{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .banner{
            img{
                width: 100%;
            }
        }
    }
}