body{
    main{
        .img-carrito-muestra{
            width: 32px;
        }
        .carro-vacio{
            margin-top: 12%;
            margin-left: 2%;
            margin-bottom: 4%;
            .carro-vacio-h1{
                font-size: 40px;
                margin-bottom: 20px;
                font-family: sans-serif;
            }
            .carro-vacio-h2{
                font-size: 20px;
                margin-bottom: 14px;
                font-family: sans-serif;
            }
            .opciones-pago-carro{
                font-size: 20px;
                margin-bottom: 28px;
                font-family: sans-serif;
            }
            .boton-carro-vacio{
                height: 68px;
                width: 20%;
                background-color: black;
                color: white;
                font-size: 24px;
                padding: 4px;
                border-radius: 16px;
                margin-bottom: 24px;
            }
            .boton-carro-vacio:hover{
                color: black;
                background-color: white;
            }
            .tarjetas{
                width: 48%;
            }
        }
        .pagar{
            height: 32px;
            width: 128px;
            border-radius: 20px;
            border-color: black;
            background-color: black;
            color: white;
            font-size: 19px;
        }
    }
}