body{
    main{
        .img-carrito-muestra{
            width: 32px;
        }
        .carro-vacio{
            margin-top: 6%;
            margin-left: 2%;
            margin-bottom: 4%;
            .carro-vacio-h1{
                font-size: 40px;
                margin-bottom: 20px;
                font-family: sans-serif;
            }
            .carro-vacio-h2{
                font-size: 20px;
                margin-bottom: 14px;
                font-family: sans-serif;
            }
            .opciones-pago-carro{
                font-size: 20px;
                margin-bottom: 28px;
                font-family: sans-serif;
            }
            .boton-carro-vacio{
                @include alto-ancho(68px, 20%);
                background-color: $color-principal-a;
                color: $color-principal-b;
                font-size: 24px;
                padding: 4px;
                border-radius: 16px;
                margin-bottom: 24px;
            }
            .boton-carro-vacio:hover{
                color: $color-principal-a;
                background-color: $color-principal-b;
            }
            .tarjetas{
                width: 48%;
            }
        }
        .pagar{
            @include alto-ancho(32px, 128px);
            border-radius: 20px;
            border-color: $color-principal-a;
            background-color: $color-principal-a;
            color: $color-principal-b;
            font-size: 19px;
        }
    }
}