body{
    main{
        .row{
            padding: 140px;
            padding-top: 30px;
        }
        .form-control{
            border: solid rgb(39, 39, 39) 1px;
        }
        .crear{
            @include alto-ancho(38px, 100%);
            border-radius: 16px;
            border-color: $color-principal-a;
            background-color: $color-principal-a;
            color: $color-principal-b;
            font-size: 23px;
        }
    }
}