body{
    main{
        .row{
            padding: 140px;
            padding-top: 80px;
        }
        .form-control{
            border: solid rgb(39, 39, 39) 1px;
        }
        .crear{
            height: 38px;
            width: 100%;
            border-radius: 16px;
            border-color: black;
            background-color: black;
            color: white;
            font-size: 23px;
        }
    }
}