body{
    main{
        margin-top: 5%;
        margin-bottom: 8%;
        .perfil-completo{
            display: flex;
            gap: 15%;
            .card-header{
                background-color: $color-principal-a;
                color: $color-principal-b;
            }
            .card-img{
                max-width: 540px;
                margin-top: 3%;
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                margin-left: 3%;
                border-radius: 10px;
                height: 100%;
                .col-md-8{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                }
                .row{
                    padding: 28px;
                }
                .card-body{
                    margin-left: 20px;
                }
            }
            .perfil{
                height: 100%;
                .card{
                    width: 30rem;
                    margin-right: 10%;
                    margin-top: 9%;
                    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                    .list-group{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .div-cerrar-sesion{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 2%;
            margin-right: 2%;
            .btn{
                margin-right: 2%;
                margin-left: 1%;
            }
        }
    }
}