body{
    #main-preCompra{
        margin-top: 2%;
        margin-bottom: 8%;
        .pre-compra{
            display: grid;
            grid-template-columns: 70%, 30%;
            .pre-izq{
                grid-column: 1/1;
                margin-left: 4%;
                margin-top: 5%;
                h1{
                    color: $color-principal-a;
                    font-size: 30px;
                }
                h2{
                    color: $color-principal-a;
                    margin-bottom: 16px;
                    font-size: 26px;
                }
                .contenedor-info{
                    border: solid rgb(20, 20, 20) 1px;
                    width: 80%;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
                }
                .imagen-pre{
                    margin-bottom: 28px;
                    img{
                        width: 80%;
                    }
                }
            }
            .pre-der{
                grid-column: 2/2;
                margin-right: 68px;
                margin-top: 18%;
                border: solid #141414 1px;
                border-radius: 10px;
                padding: 40px;
                height: 668px;
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
                .limite{
                    width: 300px;
                }
                .titulito{
                    font-size: 39px;
                    color: $color-principal-a;
                }
                p{
                    margin: 3px;
                    font-size: 20px;
                }
                a{
                    margin-top: 20px;
                    font-size: 19px ;
                }
                .devolucion{
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    margin-bottom: 70px;
                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        h3{
                            font-size: 20px;
                            color: rgba(41, 239, 9, 1);
                        }
                        img{
                            height: 28px;
                            margin-bottom: 7px;
                        }
                    }
                }   
                h4{
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                form{
                    .seleccionar{
                        border: solid #141414 1px;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        padding: 15px;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
                        select{
                            border: none;
                            font-size: 16px;
                            width: 35%;
                        }
                        select:hover{
                            border: none;
                        }
                        p{
                            font-size: 13px;
                        }
                    }
                }
                .boton-enviar-carro{
                    display: flex;
                    justify-content: center;
                    margin: 15px;
                    margin-top: 30px;
                    input{
                        @include alto-ancho(40px, 100%);
                        background-color: $color-principal-b;
                        border-radius: 12px;
                        color: $color-principal-a;
                        font-weight: bold;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
                    }
                }
                .boton-comprar-ahora{
                    display: flex;
                    justify-content: center;
                    margin: 15px;
                }
                .comprar-ya{
                    width: 100%;
                    input{
                        @include alto-ancho(40px, 100%);
                        background-color:$color-principal-a;
                        border-radius: 12px;
                        font-weight: bold;
                        color: $color-principal-b;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .abajo-d{
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                h2{
                    font-size: 24px;
                    color: $color-principal-a;
                    margin: 0%;
                }
                a{
                    margin-top: 10px;
                    font-size: 19px;
                }
            }
        }
    }
}